body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://media.istockphoto.com/photos/old-weathered-and-rusty-steel-door-for-steel-metal-backgroud-and-picture-id1173305198?k=20&m=1173305198&s=612x612&w=0&h=ZF5yaF-zzPD3e9PBDOxeb9c8ZqTPhqghB3MDiZagPAw=);
  background-repeat: none;
  background-size: 100%;
  color: white;
}

#login {
  /* background-color: rgb(102, 219, 232);
  font-size: 18px;
  width: 400px;
  height: 200px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 25%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  padding-top: 50px;
  text-align: center; */
  background-image: url(https://media.istockphoto.com/photos/nobody-at-garage-sale-picture-id1262901956?k=20&m=1262901956&s=612x612&w=0&h=hfvguVH_ZvfJlceaYdETKB1vYzxhRCu9Geg6u6Hmz60=);
  background-size: 100%;
  background-repeat: no-repeat;
  align-content: center;
}

#login form {
  height: 750px;
}

#logincolor {
padding-top: 20px;
padding-left: 15px;
color: #FFFFFF;
}

.input {
 opacity: 0.7;
}

.logininput {
  padding-left: 10px;
}

#loginbutton {
/* padding-left: 20px; */
margin-left: 10px;
}


.title {
  position: flex;
  text-align: center;
  border:1px solid black;
  border-radius: 50em;
  width: 500px;
  margin: auto;
}

.login:before {
  margin: auto;
  content:"";
  width:2px;
  display:block;
  height: 100%;
  left:50%;
  position:absolute;
	background-image: -webkit-linear-gradient(to bottom, #fff, #000, #fff);
  background-image: -moz-linear-gradient(to bottom, #fff, #000, #fff);
  background-image: -ms-linear-gradient(to bottom, #fff, #000, #fff);
  background-image: -o-linear-gradient(to bottom, #fff, #000, #fff);
  background-image: linear-gradient(to bottom, #fff, #000, #fff);
}

#website_info, #login_form{
  display: inline-block;
  box-sizing: border-box;
  width: 45%;
  height: 100%;
}
/* #website_info {

}
#login_form {
} */

.item_card {
  text-align: left;
  border: 1px solid black;
  width: 225px;
}

/* Add a black background color to the top navigation */
.navbar {
  background-color: rgb(188, 130, 31);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.navbar .navlink {
  float: left;
  color: #f6f5f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar .navlink:hover {
  background-color: rgb(199, 179, 154);
  color: rgb(133, 70, 70);
}


/* button on itemCards */

.item_button {
  position: flex;
  margin-left: 55%;
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 0.6rem;
  font-weight: 700;
  letter-spacing: -.24px;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.item_button:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
}

.item_button:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .item_button {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}

.single_item {
  border: 2px solid black;
  
}

.item_img {
  height: 100px;
  width: 75px;
}







