.title {
  position: flex;
  text-align: center;
  border:1px solid black;
  border-radius: 50em;
  width: 500px;
  margin: auto;
}
.login {
  background-color: rgb(102, 219, 232);
  font-size: 18px;
  width: 400px;
  height: 200px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 25%;
  margin: auto;
  position:relative;
  padding-top: 50px;
  text-align: center;
}

.login:before {
  margin: auto;
  content:"";
  width:2px;
  display:block;
  height: 100%;
  left:50%;
  position:absolute;
	background-image: -webkit-linear-gradient(to bottom, #fff, #000, #fff);
  background-image: -moz-linear-gradient(to bottom, #fff, #000, #fff);
  background-image: -ms-linear-gradient(to bottom, #fff, #000, #fff);
  background-image: -o-linear-gradient(to bottom, #fff, #000, #fff);
  background-image: linear-gradient(to bottom, #fff, #000, #fff);
}

#website_info, #login_form{
  display: inline-block;
  box-sizing: border-box;
  width: 45%;
  height: 100%;
}
#website_info {

}
#login_form {
}

/* Add a black background color to the top navigation */
.navbar {
  background-color: rgb(188, 130, 31);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.navbar .navlink {
  float: left;
  color: #f6f5f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar .navlink:hover {
  background-color: rgb(199, 179, 154);
  color: rgb(133, 70, 70);
}








